html{
    font-family: sans-serif;
    font-size: 12pt;
}

body{
    margin: 0 auto 0 auto;
    padding: 10px;
    overflow-y: scroll;
}

body>header{
    text-align: center;
}

body>main{
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 700px;
}

#input{
    display: inline-block;
    flex-grow: 1;
    box-sizing: border-box;
    width: 50%;
    overflow: hidden;
}

#output{
    display: inline-block;
    flex-grow: 1;
    border: 1px solid #ccc;
    width: 50%;
    text-align: justify;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 10px;
}

#output h1,
#output h2,
#output h3,
#output h4,
#output h5,
#output h6{
    margin: 0;
    padding: 0 0 0 10px;
}

#output h1{font-size: 2.0em;}
#output h2{font-size: 1.8em;}
#output h3{font-size: 1.6em;}
#output h4{font-size: 1.4em;}
#output h5{font-size: 1.2em;}
#output h6{font-size: 1.0em;}

#timer{
    float: right;
}
